<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.2.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <http use-expressions="true">
        <csrf disabled="true"/>

        <intercept-url pattern="/" access="permitAll()" />
        <intercept-url pattern="/welcome" access="permitAll()" />
        <intercept-url pattern="/login" access="permitAll()" />
        <intercept-url pattern="/logout" access="permitAll()" />


        <intercept-url pattern="/dashboard"
                       access="hasAnyRole('ROLE_SUPERADMIN') || isAuthenticated()"  />
        <intercept-url pattern="/admin" access="hasAuthority('ROLE_OWNER')" />
        <intercept-url pattern="/other/**" access="isAuthenticated()" />
        <intercept-url pattern="/users/**" access="hasAnyRole('ROLE_SUPERADMIN') || isAuthenticated()" />


        <access-denied-handler error-page="/403" />


        <form-login login-page='/signin' login-processing-url="/login"
                    default-target-url="/dashboard" always-use-default-target="false"
                    authentication-failure-url="/signin?error=true" username-parameter="username"
                    password-parameter="password" />

        <logout logout-url="/logout" logout-success-url="/login?logout"
                delete-cookies="JSESSIONID" invalidate-session="true" />

    </http>

    <authentication-manager>

        <!-- authentication from database -->
            <authentication-provider user-service-ref="userDetailService">
            </authentication-provider>

    </authentication-manager>
</beans:beans>